*{margin: 0;padding: 0;list-style: none;text-decoration: none;}
.header{width: 100%;height: 60px;}
.header_inner{width: 980px;height: 30px;margin: 0 auto;padding-top: 13px;}
.logo{width: 150px;height: 30px;display: block;float: left;}
.nav{width: 564px;height: 15px;margin-left: 70px;float: left;margin-top: 14px;}
.nav li{float: left;font-size: 14px;padding: 0 16px;border-right: 2px solid #838383;line-height: 15px;}
.nav li:last-child{padding-right: 0;border-right: none;}
.nav a{color: #666666;}
.nav a:hover{color: #e60012;}
.header_inner  p{width: 108px;font-size: 16px;float: right;color: #838383;line-height: 15px;margin-top: 14px;}
.banner{width: 100%;height: 413px;background: url('../images/banner_02.jpg') no-repeat center center;margin-top: 0;}
.banner_in{width: 980px;margin: 0 auto;}
.banner_in img{display: block;}
.banner_in img:first-child{width: 980px;height: 108px;}
.banner_in img:nth-child(2){width: 980px;height: 169px;}
.banner_in img:last-child{width: 980px;height: 136px;}
/*报考省份*/
.province{width: 980px;margin: 79px auto;}
.city{width: 100%;height: 112px;margin-top: 26px;}
.city a{width: 90px;height: 40px;display: block;float: left;font-size: 22px;color: #666666;background: #eeeeee;
    margin: 16px 21px 0 0;text-align: center;line-height: 40px;}
.city a:nth-child(9),.city a:nth-child(18){margin-right: 0;}
.city a:hover{background: #9a0410;color: #fff;}
.entrance{width: 100%;height: 264px;margin-top: 30px;}
.top{width: 0;height: 0;border-bottom: 13px solid #bab9b9;border-right: 13px solid  transparent;}
.left{width: 544px;height: 247px;float: left;background: #eeeeee;border-top: 2px solid #bab9b9;position: relative;
    border-bottom: 2px solid #bab9b9;}
.anhui{width: 82px;height: 32px;background: url('../images/province_03.png') no-repeat;position: absolute;
    left: 20px;top: 20px;font-size: 22.22px;color: #fff;text-align: center;}
.text {font-size: 20px;margin: 72px 0 0 20px;}
.text p{margin-bottom: 19px;line-height: 20px;}
.text span{color: #666;}
.right{width: 415px;height: 251px;background: #eeeeee;float: right;}
/*免费福利考前大放送*/
.welfare{width: 100%;height: 446px;background: url('../images/zfgj_01.jpg') no-repeat center center;}
.welfare_in{width: 980px;margin: 0 auto;padding-top: 59px;}
.welfare_text{width: 100%;height: 232px;margin-top: 40px;}
.welfare_le{width: 430px;height: 232px;float: left;}
.welfare_ri{width: 530px;height: 232px;float: right;background: #fff;text-align: center;}
.welfare_ri li{padding: 14px 0 0 6px;}
.welfare_ri li:first-child{margin-top: 11px;}
.welfare_ri li:hover{background: url('../images/jian_03.png') no-repeat 6px center;}
.welfare_ri li a{color: #585757;font-size: 18px;border-bottom: 1px dashed #cccccc;padding-bottom: 7px;}
.welfare_ri a:hover{color: #d20513;}
.welfare_ri  a :hover img{display: none;}
.sprint{width: 980px;height:328px;margin: 0 auto;padding-top: 77px;}
table{width: 100%;height: 158px;border-collapse: collapse;color: #313030;text-align: center;margin-top: 42px;}
table td p{text-align: left;margin-left: 18px;}
table td{border: 1px solid #ffcbcf;vertical-align: middle;}
table td:first-child{width: 177px;font-size: 18px;}
table td:nth-child(2){width: 130px;font-size: 16px;}
table td:nth-child(3){width: 300px;font-size: 16px;}
table td:nth-child(4){width: 265px;font-size: 14px;}
table td:nth-child(5){width: 102px;}
table td:nth-child(odd){background: #f1e7e8;}
table td:nth-child(even){background: #eeeeee;}
table td img{padding-top: 12px;}
.code{width: 161px;height: 485px;background: url("../images/slides_06.png") no-repeat;position: fixed;right: 0;top: 100px;
    text-align: center;display: none;}
.code img{margin-bottom: 20px;border: none;}
.top{position: absolute;top: -77px;right: 0;width: 161px;height: 85px;display: block;}
.code p{font-size: 18px;color: #fff;width: 160px;height: 36px;text-align: center;line-height: 36px;margin-bottom: 20px;}
.footer{width: 100%;height:160px ;background: #2a2a2a;}
.footer_in{width: 908px;margin: 0 auto;font-size: 14px;padding-top: 38px;}
.footer_nav{text-align: center;height: 16px;line-height: 16px;}
.footer_nav a{color: #838383;border-left: 2px solid #838383;padding: 0 6px;}
.footer_nav a:first-child{border-left: none;}
.footer_in p{color: #838383;text-align: center;margin-top: 11px;}
#first{margin-top: 8px;}